body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #fff;
    margin: 0;
    font-family: "Arial", sans-serif;
  }

  h1 {
    text-align: center;
    padding: 40px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  a:hover {
    background-color: #777;
  }