body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #333;
}

form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 8px 8px 16px #d3d3d3, -8px -8px 16px #ffffff;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: inset 4px 4px 8px #d3d3d3, inset -4px -4px 8px #ffffff;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background-color: grey;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 8px #d3d3d3, -4px -4px 8px #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}
.ryp{
    display: flex;
    justify-content: center;
}
.login{
    font-weight: bold;
}